<% content_for(:page_title) do %>
    Edit <%= @placement.title %>
<% end %>

<%= render 'form' %>

<div class="col s6 offset-s3 primary-margin">
  <%= link_to 'Show', @placement, class: 'waves-effect waves-light btn-flat' %>
  <%= link_to 'Back', root_path, class: 'waves-effect waves-light btn-flat' %>
</div>

