<% if object.errors.any? %>
    <div id="error_explanation">
      <div class="flash flash-danger">
        The form contains <%= pluralize(object.errors.count, "error") %>.
      </div>
      <ul>
        <% object.errors.full_messages.each do |message| %>
            <li class="red-text"><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>